* {
    // font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
a {
    font-family: $karla;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: $serif;
    font-weight: 400;
    font-size: 27px;
    // width: 100px;
    // margin-left: auto;
}


h2,
h3,
p {
    line-height: 26px;
}

h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 48px;
    // letter-spacing: 1px;
}

.btn {
    border: solid white 2px;
    padding: 10px 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.line {
    height: 0,5px;
    width: 160px;
    margin: auto;
    margin-bottom: 40px;
    color: $color-fifth;
}