/**** BASE ****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $neutral-dark;
}

html {
    font-size: 62.5%;
}


p,
a,
h3 {
    font-family: $karla;
    font-weight: 400;
}

h1,
h2 {
    font-family: $serif;
    font-weight: 400;
}

p {
    line-height: 26px;
    font-size: 1.6em;
}

.btn {
    border: solid $neutral-light 2px;
    padding: 10px 26px;
    color: $neutral-light;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3em;

    &:hover {
        border: solid $neutral-light 2px;
        color: $primary-first;
        background-color: $neutral-light;
    }
}

.line {
    height: 0, 5px;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
        margin-right: auto;
        margin-left: 0;
    }
}



.integration {
    padding: 0;
    margin: 0;
}