// ### Primary

// - Dark Violet: hsl(256, 26%, 20%)
// - Grayish Blue: hsl(216, 30%, 68%)

// ### Neutral

// - Very Dark Violet: hsl(270, 9%, 17%)
// - Dark Grayish Violet: hsl(273, 4%, 51%)
// - Very Light Gray: hsl(0, 0%, 98%)

// Colors
$primary-first: #2d2640; 
$primary-second: #95a9c6;

$neutral-darker:  #2b272f;
$neutral-dark: #837d87;
$neutral-light: #fafafa;

$tablet: 769px;
$mobile: 426px;
$laptop: 1024px;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$serif: 'DM Serif Display', serif;
$karla: 'Karla', sans-serif;