// ### Primary

// - Dark Violet: hsl(256, 26%, 20%)
// - Grayish Blue: hsl(216, 30%, 68%)

// ### Neutral

// - Very Dark Violet: hsl(270, 9%, 17%)
// - Dark Grayish Violet: hsl(273, 4%, 51%)
// - Very Light Gray: hsl(0, 0%, 98%)

// Colors
$color-first: hsl(256, 26%, 20%); 
$color-second: hsl(216, 30%, 68%);

$color-third:  hsl(270, 9%, 17%);
$color-fourth: hsl(273, 4%, 51%);
$color-fifth: hsl(0, 0%, 98%);



//Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$serif: 'DM Serif Display', serif;
$karla: 'Karla', sans-serif;