/**** HEADER ****/

.my-header {
    background-color: white;
    position: relative;
    z-index: 1000;

}

.my-header>div {
    margin: auto;
    height: 80px;
    @extend %flex-between-center;
    @extend %max-space-px;
}