/**** FOOTER ****/

.my-footer {
    background-color: $color-fifth;
    margin-top: 140px;
}

.my-footer>div {
    max-width: 1150px;
    margin: auto;
    padding: 40px 24px 40px;
}

.my-footer__social {
    text-align: center;
    border-bottom: solid $color-second 1px;

    .icons {
        margin: 10px 6px;
    }

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

    }
}


.my-footer__social-icons {
    margin: 28px 0 32px;
}

.my-footer__links {
    font-size: 13px;
    text-align: center;

    a {
        text-decoration: none;
        color: $color-third;
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
    }

    @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        margin: auto;
        text-align: left;
    }
}

.links-box {
    width: 100%;
    @media(min-width: $tablet) {
        width: 25%;
    }
}
.links__title {
    color: $color-fourth;
    text-transform: uppercase;
    margin: 40px;

    @media (min-width: $tablet) {
        margin-left: auto;
    }
}

.links__items {
    margin-bottom: 18px;
}