/**** FOOTER ****/

.my-footer {
    background-color: $neutral-light;
    margin-top: 140px;
    font-size: 1.3em;
}

.my-footer>div {
    @extend %max-space-px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-footer__social {
    text-align: center;
    border-bottom: solid $primary-second 1px;
    @extend %flex-between-center;
    margin: auto;

    .icons {
        margin: 10px 6px;
    }

    @media (max-width: $tablet) {
        flex-direction: column;
    }

}


.my-footer__social-icons {
    margin: 28px 0 32px;
}

.my-footer__links {
    text-align: left;
    display: flex;

    a {
        text-decoration: none;
        color: $neutral-darker;
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
    }

    @media (max-width: $tablet) {
        text-align: center;
        flex-direction: column;
    }
}

.links-box {
    width: 100%;

    @media(min-width: $tablet) {
        width: 25%;
    }
}

.links__title {
    text-transform: uppercase;
    margin: 40px;

    @media (min-width: $tablet) {
        margin-left: auto;
    }
}

.links__items {
    margin-bottom: 18px;
}